# --- Secrets et Configs Sensibles ---
.env
certs/
*.tfvars
*.tfvars.json
credentials.tfris

# --- Terraform ---
.terraform/
terraform.tfstate
terraform.tfstate.backup
crash.log
*.usage.json

# --- Ansible ---
ansible/inventory.ini
# On ignore le fichier de secrets réel
ansible/secrets.yml
ansible/secrets-local.yml
# Mais on NE bloque PAS le template (on s'assure qu'il passe)
!ansible/secrets.yml.example
!ansible/secrets.yml.dist

*.retry

# --- OS ---
.DS_Store
Thumbs.db