# Redirection HTTP vers HTTPS
server {
    listen 80;
    server_name {{ main_domain }} pma.{{ main_domain }};
    return 301 https://$host$request_uri;
}

# Configuration pour WordPress
server {
    listen 443 ssl;
    server_name {{ main_domain }};

    # Certificats (on verra comment les générer après)
    ssl_certificate /etc/nginx/certs/cloud1.crt;
    ssl_certificate_key /etc/nginx/certs/cloud1.key;
    ssl_protocols TLSv1.2 TLSv1.3;

    location / {
        proxy_pass http://wordpress:80; # Nom du service dans docker-compose
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
		
}

# Configuration pour phpMyAdmin
server {
    listen 443 ssl;
    server_name pma.{{ main_domain }};

    ssl_certificate /etc/nginx/certs/cloud1.crt;
    ssl_certificate_key /etc/nginx/certs/cloud1.key;
    ssl_protocols TLSv1.2 TLSv1.3;

    location / {
        proxy_pass http://phpmyadmin:80; # Nom du service dans docker-compose
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}